@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$custom-theme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($custom-theme);

  // override the button styles
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;
  }
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.text-primary {
  color: #7d00fa;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

// TODO: remove it if everything is okay with the input in the product-details component
.mdc-notched-outline__notch {
  border-right-style: none;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: #ff2d2d;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: #009900;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}
